#home #carousel-news-movies{
    height: 60vh;
}

#home .list-new-movies{
    height: 100%;
}
#home .carousel-item{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#home .carousel-caption{
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
}
#home .now-playing h2,
#home .top-rated h2{
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    margin: 30px 0 0 0;
    background: #505f93;
    color: white;
}
#home .now-playing__list li,
#home .top-rated-playing__list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home .now-playing__list li h3,
#home .top-rated-playing__list li h3{
    margin: 0;
    font-size: 16px;
}
#home .now-playing__list img,
#home .top-rated-playing__list img{
    width: 60px;
}

#home .now-playing__list .imagen-home,
#home .top-rated-playing__list .imagen-home{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .footer-copyright{
    background: #505f93;
}

#home .page-footer a{
    text-decoration: none;
    color: white;
}
