#news .custom-card{
    border-radius: 15px;
    overflow: hidden;
    border: 0;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.1);
    color: #000;
    transition: .5s all ease;

}
#news .custom-card img{
    opacity: 0.5;
    transition: 0.5s alla ease;
}
#news .custom-card:hover img{
    opacity: 1;
}

#news .custom-card:hover{
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
    text-decoration: none;
}
#news .col-custom{
    padding: 15px;
}
#news .footer-copyright{
    background: #505f93;
}

#news .page-footer a{
    text-decoration: none;
    color: white;
}
