#popular .custom-card{
    border-radius: 15px;
    overflow: hidden;
    border: 0;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.1);
    color: #000;
    transition: .5s all ease;

}
#popular .custom-card img{
    opacity: 0.5;
    transition: 0.5s alla ease;
}
#popular .custom-card:hover img{
    opacity: 1;
}

#popular .custom-card:hover{
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
    text-decoration: none;
}
#popular .col-custom{
    padding: 15px;
}

#popular .footer-copyright{
    background: #505f93;
}

#popular .page-footer a{
    text-decoration: none;
    color: white;
}
